*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --gray: #b5afafa7;
    --black:#151E29;
    --pure:#FDFDFC;
    --primary:#1333D4;
    --mid_p: #F8F8F5;
}
.container{
    width: 1440px;
    margin: 0px auto;
    padding: 0 65px;
}

.none{
    display: none;
}
.btn{
    border: none;
    outline: none;
    font-weight: 600;
    text-transform: capitalize;
    padding: 12px 16px;
    border-radius: 100px;
    font-weight: 700;
    cursor: pointer;
    background: none;
}
.btn_s{
    border: 1px solid var(--primary);
    transition: all .3s ease-in-out;
    color: var(--primary);
    &:hover{
        border: 1px solid transparent;
        background: var(--primary);
        color: var(--pure);
    }
}
.btn_p{
    border: 1px solid transparent;
    background: var(--primary);
    transition: all .3s ease;
    color: var(--pure);
    &:hover{
        background: transparent;
        border-color: #1333D4;
        color: var(--primary);
    }
}
.buttons{
    display: flex;
    gap: 1rem;
}
a{
    text-decoration: none;
    color: var(--black);
}
.hamb_toggle{
    //display: flex;
    flex-direction: column;
    //gap: .3rem;
    //background: var(--black);
    display: none;
    height: 42px;
    span{
        display: block;
        width: 25px;
        height: 2px;
        background: var(--black);
        transition: all ease .3s;
        &:nth-child(2){
            margin: 0.3rem 0;
        }
    }
}
