header{
    .navBer{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 12px 65px;
        .logoNmenu{
            display: flex;
            align-items: center;
            gap: 80px;
            .logo a{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
            }
            .nav{
                ul{
                    list-style: none;
                    display: flex;
                    gap: 2rem;
                    font-size: 16px;
                    font-weight: 600;
                }
            }
        }
    }
}



.hero{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(620px,1fr));
        gap: 52px;
        align-items: center;
        margin: 85px auto;
        .left .text{
            color: var(--black);
            h1{
                font-size: 61px;
                line-height: 120%;
                span{
                    color: var(--primary);
                }
            }
            p{
                font-size: 20px;
                line-height: 140%;
                color: var(--black);
                margin-top: 10px;
            }
        }
        .left .buttons{
            margin-top: 48px;
        }
        .right{
            .image{
                width: 100%;
                height: auto;
                img{
                    width: 100%;
                    height: auto;
                }
            }
        }
}

.news{
    background: var(--mid_p);
    padding: 120px 0;
    .mainNewsSec{
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(auto-fill, minmax(620px,1fr));
        .leftCard, .rightCard{
            .image{
                width: 100%;
                img{
                    width: 100%;
                    height: auto;
                }
            }
            .text{
                padding: 2rem;
                span{
                    color: var(--primary);
                    font-weight: 600;
                    font-size: 20px;
                }
                h3{
                    font-size: 24px;
                    font-weight: 600;
                    margin-top: 12px;
                    margin-bottom: 8px;
                }
                button{
                    margin-top: 48px;
                }
            }
        }
    }
}