@media (max-width:1090px){
    .container{
        width: 100%;
        padding: 0 35px;
    }
    .btn{
        padding: 8px 10px;
    }
    header .navBer {
        padding: 12px 45px;
      }
    header .navBer .logoNmenu .logo a{
        h2{
            font-size: 16px;
        }
        img{
            width: 30px;
        }
    }
    .btnNav{
        .btn_s{
            display: none;
        }
    }
    header .navBer .logoNmenu .nav ul{
        display: none;
    }
    .hero {
        grid-template-columns: repeat(1, 2fr);
        gap: 52px;
        margin: 85px auto;
      }

      .news {
        padding: 70px 0;
      }
      .news .mainNewsSec {
        width: 100%;
        gap: 2rem;
        grid-template-columns: repeat(1, 2fr);
      }
      .titleSection {
        padding-top: 88px;
        padding-bottom: 85px;
    }
    .contactForm{
        grid-template-columns: repeat(1,2fr);
    }
    .contactForm .left {
        padding: 165px 15px;
    }
    footer .mainSection {
        grid-template-columns: repeat(2, 2fr);
        gap: 2rem;
      }
      footer .mainSection .info:last-child .icons {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
      }
      header .hamb_toggle{
        display: flex;
      }


      .featureSec .text{
        font-size: 28px;
      }
}

@media (max-width:900px){
    .workProcess .container {
        grid-template-columns: repeat(1, 1fr);
      }
    .workProcess .container .image{
        display: none;
    }
    .basicDetails .container {
        grid-template-columns: repeat(1, 1fr);
      }
      .basicDetails .container .rightText{
        display: none;
      }
    //   .sm-view{
    //     display: block;
    //   }
      .basicDetails .container .leftText .textDtls h4 {
        margin-bottom: 1rem;
      }

}

@media (max-width:700px){
    .comtainer{
        padding: 0 20px;
    }
    .contactForm .right form{
        padding: 15px;
    }
    .contactForm .left {
        padding: 100px 15px;
    }
    
    .contactForm .left .text h2 {
        font-size: 28px;
    }
    .btnNav{
        .btn_s,.btn_p{
            display: none;
        }
    }
    .contactForm .right form{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .features .container .cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        gap: 24px;
      }
      .features .container .cards .card {
        padding: 20px;
      }
      .featureSec .container {
        gap: 75px;
        padding: 100px 24px;
    }
    .titleSection h2 {
        font-size: 28px;
    }
    .featureSec .text{
        font-size: 24px;
    }
    .moreFeatures {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .moreFeatures .container {
        gap: 40px;
    }
      
      .moreFeatures .container .box {
        //grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-template-columns: repeat(1,2fr);
        .text{
            padding: 20px;
        }
      }

      .moreFeatures .container .box .image {
        padding: 10px 10px;
        background: var(--mid_p);
    }
      .textTitle {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    footer{
        padding:2rem 0;
    }
    footer .mainSection .logo {
        width: 66px;
        height: auto;
    }
    footer .mainSection .info:last-child .icons {
        display: grid;
        flex-direction: column;
        flex-wrap: wrap;
        gap: .8rem;
        align-items: normal;
        justify-content: start;
      }

      .aboutTitle {
        text-align: center;
        padding-bottom: 80px;
        padding-top: 80px;
        h2{
            font-size: 38px;
        }
    }

    .aboutTitle h2{
        margin-top: 2rem;
    }
    .mission .container {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .aboutTitle h2{
        font-size: 38px;
    }
    .mission .container .text{
        grid-template-columns: repeat(1,2fr)
    }
    .slideSection{
        .container{
            padding: 0;
        }
        #bullets{
            margin: 0;
        }
        .slide_Cstm .right p{
            margin-top: 1rem;
        }
    }
}